In [8]:
#This is helping me run instantly and creat files (outputs)

import pandas as pd
from pandas.io.json import json_normalize

In [9]:
df = pd.read_json("json_data/counties.json")

In [18]:
df1 = json_normalize(df["features"])
df1.head()

<ipython-input-18-7718ec9537e7>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df1 = json_normalize(df["features"])

,type,id,properties.OBJECTID,properties.ID_,properties.COUNTY_NAM,properties.CONST_CODE,properties.CONSTITUEN,properties.COUNTY_COD,properties.Shape_Leng,properties.Shape_Area,geometry.type,geometry.coordinates
0,Feature,0,1,5543,NAIROBI,288,KAMUKUNJI,47,1.559787,0.057423,Polygon,"[[[36.90458259248316, -1.160707895679255], [36..."
1,Feature,1,2,6634,MOMBASA,3,KISAUNI,1,0.885586,0.023325,Polygon,"[[[39.68311072648316, -4.060742933679253], [39..."
2,Feature,2,3,6600,KWALE,10,KINANGO,2,4.284182,0.758266,Polygon,"[[[39.320928109483184, -3.570447523679267], [3..."
3,Feature,3,4,6731,KILIFI,13,KALOLENI,3,5.333080,1.025338,Polygon,"[[[39.71112586348317, -3.91114576567924], [39...."
4,Feature,4,5,5806,TANA RIVER,19,GALOLE,4,10.280449,3.184213,Polygon,"[[[39.0281424644832, -0.003980238679221], [39...."

In [23]:
df = pd.read_excel("2017_voters.xlsx")
df

,COUNTY_ CODE,COUNTY_NAME,CONST_ CODE,CONSTITUENCY_NAME,VOTERS,NO. OF POLLING STATIONS
0,1,MOMBASA,1,CHANGAMWE,86331,136
1,1,MOMBASA,2,JOMVU,69307,109
2,1,MOMBASA,3,KISAUNI,126151,198
3,1,MOMBASA,4,NYALI,104017,165
4,1,MOMBASA,5,LIKONI,87326,140
...,...,...,...,...,...,...
285,47,NAIROBI CITY,286,EMBAKASI WEST,126682,187
286,47,NAIROBI CITY,287,MAKADARA,126048,192
287,47,NAIROBI CITY,288,KAMUKUNJI,120266,181
288,47,NAIROBI CITY,289,STAREHE,166397,253
289,47,NAIROBI CITY,290,MATHARE,115559,171

In [28]:
county_voters = df.groupby("COUNTY_ CODE").sum()[["VOTERS", "NO. OF POLLING STATIONS"]]